@import url('../../styles/variables.css');
@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

.todo-form-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    margin-top: 50px;
}

.todo-form-wrapper > .ant-space-compact {
    max-width: 600px;
}

.todo-form-wrapper > h3 {
    font-family: 'Abel', sans-serif;
    font-weight: 400;
}
