.todo-wrapper {
    max-width: 900px;
    margin: 0 auto;
    margin-top: 30px;
}
.ant-list-items {
    margin: 0;
    list-style: none;
    border-radius: 8px;
    background-color: white;
}

.list-item-wrap {
    padding: 5px 10px;
}

.list-item-date {
    white-space: nowrap;
}
