@import url('https://fonts.googleapis.com/css2?family=Yellowtail&display=swap');
@import url('../../styles/variables.css');

.header-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-text {
    user-select: none;

    color: var(--brown);
    padding: 15px 10px;
    font-size: 2.8em;
    font-family: 'Yellowtail', cursive;
}
